body {
	background: #B0FFF9;
}
#question_area {
	font-size: 200%;
	background: rgba(130, 202, 250, 0.29);
	text-shadow: 1px 0 0px #FFF;
}
body > section {
	font-family: sans-serif;
	font-weight: bold;
	background: rgba(0,0,0,.125);
	border: 1px solid white;
	border-radius: 6px;
	box-shadow: inset 3px 1px 18px -6px black;
	text-align: center;
	padding: 1% .15%;
}

#response_field {
	line-height: 250%;
	font-size: 125%;
	border-radius: 0.625em;
	padding: .125% 2.25%;
	text-align: center;
}
#answer {
	text-align: center;
	background: #3CD0FF;
}
#answer label, #answer button {
	display: block;
	margin: auto;

}
.factor-grid-wrapper {
	background: #71FF71;
}
.ui-button .ui-button-text {
	display: inline-block;
	text-shadow: 1px 1px 0px #000;
}

.ui-slider-range{background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.51) 0%, rgba(102,102,102,0.24) 40%, rgba(255,255,255,0.24) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.51)), color-stop(40%,rgba(102,102,102,0.24)), color-stop(100%,rgba(255,255,255,0.24)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.51) 0%,rgba(102,102,102,0.24) 40%,rgba(255,255,255,0.24) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.51) 0%,rgba(102,102,102,0.24) 40%,rgba(255,255,255,0.24) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.51) 0%,rgba(102,102,102,0.24) 40%,rgba(255,255,255,0.24) 100%);
background: radial-gradient(ellipse at center,  rgba(0,0,0,0.51) 0%,rgba(102,102,102,0.24) 40%,rgba(255,255,255,0.24) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82000000', endColorstr='#3dffffff',GradientType=1 );

}
input[type="number"] {
	border-radius: 2em;
	font-size: 150%;
	text-align: center;
	padding: 0% 2%;
	font-weight: bold;
	width: 55%;
	vertical-align: middle;
}
section.options > div+div, section.difficulty-wrapper > div+div {
	display: inline-block;
	max-width: 30%;
}
section div > label {
	display: block;
	width: auto;
	text-align: center;
	vertical-align: middle;
}
.esgrid-wrapper {
	position: relative;
}
#difficulty {

}
#difficulty > label {
	display: block;
	text-align: center;
}
.options div {
	display: inline-block;
}
.difficulty-wrapper > div {
	vertical-align: middle;
	display: inline-block;
	width: 33%;
	border: 1px solid white;
	border-radius: .625em;
	background: rgba(255, 255, 255, 0.33);
	padding: 1.125% 0.625%;

}
.answered-correctly-wrapper {
color: green;
}
.answered-incorrectly-wrapper {
color: red;
}
.answered-correctly-wrapper , .answered-incorrectly-wrapper {
	display: inline-block;
	text-align: center;
	width: 45%;
	
}
table {text-align: center;
width: 100%;}

#difficulty-setting > div {
box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.94), 0px -12px 12px -6px rgba(255, 255, 255, 0.77);
}

#difficulty-setting > .ui-slider-handle {
	background: rgba(255, 255, 255, 0.65);
}
.ui-slider-handle:last-of-type {
	box-shadow: 3px 0px 3px 3px black;
	cursor:w-resize;
}

.ui-slider-handle:first-of-type {
	box-shadow: -3px 0 3px 3px black;
	cursor:e-resize;
}
#operation_type {
	font-size: 92%;
	vertical-align: middle;
	font-weight: lighter;
	border: 1px solid gray;
	border-radius: .125em;
	padding-right: 0%;
	margin: 0% 2%;
	background: rgba(255, 255, 255, 0.9);
}

#difficulty-setting {
	background: #77f754;
	background: -moz-linear-gradient(left,  #77f754 0%, #04f99c 10%, #04e7f7 34%, #cc04f4 71%, #ede500 86%, #ede500 86%, #ff1d00 94%, #ff0000 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#77f754), color-stop(10%,#04f99c), color-stop(34%,#04e7f7), color-stop(71%,#cc04f4), color-stop(86%,#ede500), color-stop(86%,#ede500), color-stop(94%,#ff1d00), color-stop(100%,#ff0000));
	background: -webkit-linear-gradient(left,  #77f754 0%,#04f99c 10%,#04e7f7 34%,#cc04f4 71%,#ede500 86%,#ede500 86%,#ff1d00 94%,#ff0000 100%);
	background: -o-linear-gradient(left,  #77f754 0%,#04f99c 10%,#04e7f7 34%,#cc04f4 71%,#ede500 86%,#ede500 86%,#ff1d00 94%,#ff0000 100%);
	background: -ms-linear-gradient(left,  #77f754 0%,#04f99c 10%,#04e7f7 34%,#cc04f4 71%,#ede500 86%,#ede500 86%,#ff1d00 94%,#ff0000 100%);
	background: linear-gradient(to right,  #77f754 0%,#04f99c 10%,#04e7f7 34%,#cc04f4 71%,#ede500 86%,#ede500 86%,#ff1d00 94%,#ff0000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77f754', endColorstr='#ff0000',GradientType=1 );
}

.history tr > td:nth-child(2),
.history tr > td:nth-child(4) {
	font-size: 150%;
	font-weight: lighter;
	text-shadow: 1px 0px 0px whitesmoke;
}
.history tr > td:nth-child(1),
.history tr > td:nth-child(3),
.history tr > td:nth-child(5) {
	font-weight: bolder;
	font-size: 200%;
	text-shadow: 1px 0px 0px black;
}

.esgrid-td-1, .esgrid-th-static {
	font-size: 165%;
	font-weight: bold;
	text-shadow: 1px 0 0px #FFF;
}
.esgrid-th-static.sort-column {
	background: rgba(255, 255, 255, 0.24);
	padding: 4px 0px;
	margin-top: -4px;
	border-radius: .625em;
}

.sorted-ascending .esgrid-th-static.sort-column {
	box-shadow: 0px -6px 12px 0px #FFF;
}
.sorted-descending .esgrid-th-static.sort-column {
	box-shadow: 0px 6px 12px 0px #000;
}
.slider-wrapper {
	margin: 0 0%;
}
div.min-number-wrapper, div.max-number-wrapper {
	background: rgba(0, 0, 0, 0.125);
}

[title] {
	cursor: help;
}